.action-bar {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.25;
  transition: opacity 0.3s;
}

.action-bar:hover {
  opacity: 1;
}

.action-bar-wrapper {
  background-color: rgba(15, 23, 42, 0.9);
}