.editor-wrapper {
  position: relative;
  height: 100%;
  /* 10px is the width of resize handle */
  width: calc(100% - 10px);
}

.editor-wrapper .button-format {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 20;
  opacity: 0;
  transition: opacity 0.3s;
}

.editor-wrapper:hover .button-format {
  opacity: 1;
}

/* Adjust the background color of the editor lines */
.view-lines {
  background-color: rgba(15, 23, 42, 0.9);
}


.margin-view-overlays {
  background-color: rgba(15, 23, 42, 0.9);
}
